@model SampleWebApp.Models.EmpTable

@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewEmployee</title>
</head>
<body>
    <h1>-------------New Registration-------------</h1>
    <hr />
    <div>
        @using (Html.BeginForm())
        {
              <p>
                    Enter EmpID: @Html.EditorFor((m) => m.EmpId)
              </p>
              <p>
                    Enter EmpName: @Html.EditorFor((m) => m.EmpName)
              </p>
              <p>      
                    Enter EmpAddress: @Html.EditorFor((m) => m.EmpAddress)
              </p>
              <p> 
                    Enter EmpSalary: @Html.EditorFor((m) => m.EmpSalary)
              </p>
             <button>Add new Employee</button>
        }
    </div>
</body>
</html>